.titleLabel{
    pointer-events: none;
    font: 6px sans-serif;
}
.linktitle{
    font: 10px sans-serif;
    stroke: blue;
    stroke-width: 0.02em;
}
.tooltip {
    visibility: hidden;
    position: absolute;
    text-align: left;
    border: 0.5px solid lightgrey;
    padding: 5px;
    font: 10px sans-serif;
    background: white;
    border-radius: 4px;
    pointer-events: none;
    width: auto;
    height: auto;
}